<app-hijo
(Mensaje1)="Primer($event)"
(Mensaje2)="Segundo($event)"
(Mensaje3)="Tercer($event)"
(Mensaje4)="Cuarto($event)"
(Mensaje5)="Quinto($event)"
>
</app-hijo>
<div>
  <h2>
    1 Mensaje del componente hijo: {{ MensajePadre }}
  </h2>
  <h2>
    2 Mensaje del componente hijo: {{ segundo }}
  </h2>
  <h2>
    3 Mensaje del componente hijo: {{ tercer }}
  </h2>
  <h2>
    4 Mensaje del componente hijo: {{ cuarto }}
  </h2>
  <h2>
    5 Mensaje del componente hijo: {{ quinto }}
  </h2>
</div>